Deep3DFaceRecon_pytorch
evaluation_outputs
outputs
tmp
debug
*.png
*.jpg
*.obj


projector_out/
projector_test_data/
proj_data/
projector/PTI/checkpoints/
evaluation_outputs/
networks
projector/PTI/embeddings/
projector_out_rebalanced/
projector_out_facerecon_mse/
projector_out_*/
ldmks_gInput_rPred.png
