imgs/
img_fit_celeba*
outputs/
shapes
**/bfm_models/
EvalImages/
bfm*tgz
models/
model/
data/
depth_output_data/

**/.ipynb_checkpoints
**/__pycache__
*.png
*.mp4
*.npy
*.npz
*.dae
data/*
logs/*
*.pyc

./data
data
*.obj
*.mrc
demo/*.obj
demo/*.mrc

warping_models/
warping_obj/
warping_imgs/

debug/
warping/

Deep3DFaceRecon_pytorch/BFM/
Deep3DFaceRecon_pytorch/checkpoints/
